<div id="content">
	<h1>Customers Missing Emails</h1>

	<p id="links">
		<%= link_to "New Customer", new_customer_path %> -
		<%= link_to "All Customers", "/finder" %>
	</p>

	<% @customers.each do |customer| %>
	<%= render customer %>
	<% end %>
</div>

