// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer {
	width: 250px;
	height: 400px;
	border: 1px solid black;
	margin: 10px 5px;
	padding: 0px 5px;
	display: inline-table;
	background-color: #FFA240;
	position: relative;
}

.customer .edit {
	position: absolute;
	right: 5px;
	font-size: 8pt;
}

.customer h2 {
	text-align: center;
	padding-top: 15px;
}

.customer img {
	width: 200px;
	height: 200px;
	background-color: lightgrey;
	display: block;
	margin: 0px auto;
}

.customer b {
	padding-right: 5px;
}
